*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro";
  background-color: #e6e6e6;
}
header{
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
h1{
  margin: 0;
  padding: 0;
  font-size: 35px;
}
img{
  vertical-align: middle;
  margin: 0px;
}
a{
  text-decoration: none;
  color: #4b4b4b;
  letter-spacing: 5px;
}
nav{
  margin: 0 0 0 auto;
}
ul{
  list-style: none;
  margin: 0;
  display: flex;
}
li{
  margin: 0 0 0 100px;
  font-size: 16px;
}
h2{
  font-size: 40px;
  letter-spacing: 5px;
  padding-left: 510px;
  align-items: center;
  padding-top: 110px;
  color: #4b4b4b;
  border-bottom: solid 1px;
  padding-bottom: 15px;
}
.inportant{
}
#layout1{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
#layout2{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
#layout3{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
#layout4{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
#layout5{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
#layout6{
  background-color: #fff;
  width: 450px;
  height: 350px;
  float: left;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  margin-top: 0px;
  margin-right: 1.8%;
  margin-bottom: 25px;
  margin-left: 1.8%;
}
